/* Map Section */
.map-wrapper {
    background: var(--card-bg);
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    position: relative;
}

#map {
    height: 400px;
    border-radius: 12px;
    width: 100%;
    z-index: 1;
}

.map-tools {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1000;
    background: rgba(133, 114, 220, 0.214);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
}

.layer-chip {
    padding: 5px 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.8rem;
    color: white;
}

.layer-chip.active {
    background: var(--accent-color);
}

.map-wrapper.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    margin: 0;
    border-radius: 0;
    padding: 15px;
    background: var(--bg-color);
}

.map-wrapper.expanded #map {
    height: calc(100vh - 60px);
    border-radius: 0;
}

.map-wrapper.expanded .map-header {
    margin-bottom: 15px;
    padding: 0 10px;
}